.game {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  font-size: 35px;
  background: #161718;
  text-align: center;
}

.player-balance {
  font-family: system-ui;
  color: white;
  display: flex;
  align-items: flex-start;
  margin: 1rem 0 1rem 1rem;
  font-size: 0.8em;
  flex-direction: column;
  justify-content: space-between;
  min-width: 6em;
  font-weight: 500;
}

.player-balance-wrapper {
  display: flex;
  align-items: flex-start;
  font-size: 0.8em;
  flex-direction: column;
  justify-content: space-between;
  min-width: 8em;
  font-weight: 500;
}

.player-balance-text {
  font-size: 1em;
  font-weight: 500;
}

.player-balance-win {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.player-balance-win-text {
  color: white;
  font-size: 2em;
  font-weight: 500;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0.4;
  }

  1% {
    display: block;
    opacity: 0.4;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.activeWin {
  font-weight: bolder;
  color: #217d20;
  font-size: 2em;
  animation: fadeInFromNone 2s infinite;
}