.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255);
  background-color: rgb(14, 7, 7, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
}

.modal-dialog {
  width: 100%;
  max-width: 550px;
  background-color: #1a4219;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 0.3rem ridge rgb(240, 246, 69);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.modal-header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #dbdbdb;
  justify-content: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  font-size: 2rem;
}

.modal-body {
  overflow: auto;
}

.modal-content {
  padding: 1rem;
}

.modal-content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

}

.modal-title {
  margin: 0;
  font-size: 2rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}

.btn-green-tr {
  min-width: 130px;
  position: relative;
  display: inline-block;

  text-align: center;
  text-transform: uppercase;

  padding: 15px;

  font-size: 100% + 40%;
  font-weight: 600;

  color: #ecf0f1;

  transition: 0.5s;
  border-radius: 10px;
  text-decoration: none;
}

.btn-green-tr {
  background-color: #144712;
}

.btn-green-tr:before {
  position: absolute;
  content: "";
  border-top: 5px ridge lighten(rgb(240, 246, 69), 5%);
  border-left: 5px ridge lighten(rgb(240, 246, 69), 5%);
  border-right: 5px ridge darken(rgb(240, 246, 69), 5%);
  border-bottom: 5px ridge darken(rgb(240, 246, 69), 5%);

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  transition: 0.5s;
  border-radius: 10px;
}

.btn-green-tr:hover {
  box-shadow: 7px 7px darken(#144712, 5%),
    -7px -7px lighten(#144712, 10%);
  cursor: pointer;

  &::before {
    border: 0px;
  }
}