.button {
    border: 0.3rem ridge rgb(240, 246, 69);
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}
.active-volume {
    box-shadow: inset #071f06 -3px -3px 20px 0px;
    background: #144712;
    background-image: url(../../assets/img/on.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.no-active-volume { 
    box-shadow: inset #071f06 -3px -3px 20px 0px;
    background: #144712;
    background-image: url(../../assets/img/off.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.settings-menu { 
    box-shadow: inset #071f06 -3px -3px 20px 0px;
    background: #144712;
    background-image: url(../../assets/img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.settings {
    display: flex;
    gap: 1rem;
}
